# Ігноруємо специфічні для проєкту файли
firelink/logs/*.json
firelink/logs/*.csv
*.log

# Ігноруємо кеш Python та скомпільовані файли
__pycache__/
*.pyc
*.pyo
*.pyd
*.$py.class

# Ігноруємо віртуальні середовища
.env
.venv
venv/
env/
ENV/

# Ігноруємо файли IDE
.idea/
.vscode/
*.swp
*.swo

# Ігноруємо специфічні для ОС файли
.DS_Store
Thumbs.db

# Ігноруємо тимчасові файли розробки
jules-scratch/
